body {
    /* background-image: linear-gradient(132deg, rgb(255, 0, 0) 0.00%, rgb(255, 213, 0) 100.00%); */
    background-image: image('frontPage.jpg');
    background-repeat: no-repeat;

}

#MainTitle {
    font-family:'Times New Roman', Times, serif;
    font-size: 3em;
    color: white;
    font-style: bold;

}

#EnterBtn {
    border: white 5px solid;
    /* border-radius:; */

    padding: 1em 3em;

    background-color: e0e1dd;
}

.mainInfo {
    /* Center to the middle of the page */
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

}




