body {
    background-image: linear-gradient(132deg, rgb(255, 0, 0) 0.00%, rgb(255, 213, 0) 100.00%);

}

#MainTitle {
    font-family:'Times New Roman', Times, serif;
    font-size: 3em;
    color: white;
    font-style: bold;

}

#EnterBtn, #EnterBtn:visited {
    border: white 5px solid;
    border-radius: 50px;

    padding: 1em 3em;

    background-color: white;
    color: rgb(255, 0, 0);
}

#EnterBtn:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

.mainInfo {
    /* Center to the middle of the page */
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

}




