/* Add a black background color to the top navigation */
#topnav {
  background-color: #353535;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
#topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
#topnav a:hover {
  background-color: #d9d9d9;
  color: #3c6e71;
}

/* Add a color to the active/current link */
#topnav a.active {
  background-color: #d9d9d9;
  color: #284b63;
}

body {
background-color: #ffffff;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #353535;
  color: white;
  text-align: center;
}
