body {
    /* background-image: linear-gradient(132deg, rgb(255, 0, 0) 0.00%, rgb(255, 213, 0) 100.00%); */
    background-image: image('frontPage.jpg');
    background-repeat: no-repeat;
}

.chat-background{
    background-color: #3cad7a;
}

.msg-container{
    border: 2px solid #2eaf27;
    background-color: #93ffd9;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    overflow:auto;
}

.mid{
    display:inline
}   

.chat-container{
    float: left;
    border: 1px solid #009543;
    background-color: #3cad7a;
    vertical-align: bottom;
    width: 78%;
    min-height: 600px;
    max-height: 600px;
    overflow: auto;
}

.member-list{
    border:4px solid #002bac;
    background-color:aqua;
    padding: 5px;
    float: right;
    width: 20%;
    min-height: 600px;
    max-height: 600px;
    overflow: auto;

}

.time{
    float: right;
    color: rgb(0,0,0);
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

#MainTitle {
    font-family:'Times New Roman', Times, serif;
    font-size: 3em;
    color: white;
    font-style: bold;

}

#EnterBtn {
    border: white 5px solid;
    /* border-radius:; */

    padding: 1em 3em;

    background-color: e0e1dd;
}

.mainInfo {
    /* Center to the middle of the page */
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

<<<<<<< HEAD
}
=======
}
>>>>>>> d987ae6 (me trying fix my stuff)
